// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body{background-image:images; }
// h3{color:orange;}
// h4{color:red}

img { width: 100%; height: auto;}
h3 { color: 7F0000 }
h4 { color: red }
h5 { color: green }
body {background-image: url('254.jpg')}